html {
    background-color: #f2f4fc;
    font-family: 'Roboto'; sans-serif;
    color:#292e47;
}

/*ENCABEZADO*/
.topnav {
    display: none;
}
header nav{
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    color: #f2f4fc;
    /*check padding: 0 24px 
    gap: 60px;*/
}
header {
    display: flex;
    margin: 0 auto;
    text-align: center;
    margin-top: 70px;
    max-width: 1100px;
}
header ul{
    display: flex;
    padding: 0px;
}
header ul li {
    margin-left: 10px;
    list-style-type: none;
}
header ul li a {
    font-family: Roboto, sans-serif;
    color: #6b708d;
    font-size: 17px;
    font-weight: 800;
    text-decoration: none;
    transition: 0.7s ease;
}

header ul li .color{
    color:#0082f3;
}

header ul li a:hover{
color:#072ac8;    
}

header .logo {
    width: 60px;
    height: 18px;
    background-image: url("https://uploads-ssl.webflow.com/61f7ff5634c23c5bef9d2e54/61f800b7cb56a839fd8ed026_Circle.svg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    margin-right: 30%;
    margin-top: 14px;
}

header .btn-contact {
    margin-left: 30%;
    padding: 13px 30px 6px 30px;
    color: white;
    height:30px;
    background-color: #072ac8;
    font-size: 17px;
    border:none;
    text-decoration: none;
}

header .btn-contact:hover {
    background-color: #292e47;
    color: white;
}

header .hamburgueso {
    display: none;
    cursor: pointer;
    padding: 60px;
    margin:0;
    box-sizing: border-box;
    border: 3px solid red;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: grey;
}

/*SECCIÓN UNO*/

#empower {
    margin: 0 auto;
    text-align: left;
    padding-top: 118px;
    color: black;
    font-size: 30px;
    max-width: 1100px;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
#empower .aproved {
    position: absolute;
    right: -122px;
    top: 520px;
}
#empower .choosecard {
    position: absolute;
    left: -89px;
    top: 0;
}
#empower h1 {
    text-transform: capitalize;
    font-size: 60px;
    line-height: 80px;
    font-weight: bold;
}
#empower h2 {
    font-size: 20px;
    font-weight: 400;
    width: 460px;
    color: #6b708d;
}

#empower .left .botones {
width: fit-content;
display: flex;
}

#empower .left .btn-contact {
    padding: 13px 14px 14px 13px;
    color: grey;
    height:30px;
    font-size: 17px;
    font-weight: 600;
    border:none;
}

#empower .left .btn-getin {
    padding: 11px 36px 11px 34px;
    color: white;
    height:30px;
    background-color: #072ac8;
    font-size: 17px;
    font-weight: 600;
    margin-left: 20px;
    border:none;
} 
#empower .left .btn-getin:hover {
    background-color: #292e47;
    color: white;  
}

#empower .right {
    position: relative;
}

/*SECCIÓN DOS*/

#company-list {
    display: grid;
    text-align: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    max-width: 1100px;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 150px;
}


#company-list img {
    margin-left: 5%;
    margin-right: 5%;
}

/*SECCIÓN TRES*/

#projects h2{
   text-align: left;
   color: #292e47;
   font-size: 40px;
   font-weight:900;
   margin-bottom: 10px;
   margin-left: 17px;   
}

#projects {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    text-transform: capitalize;
    margin-top: 9rem;
    position: relative;
    margin-bottom: 10em;
    
}

#projects .recent{
    display: flex;
    text-align: left;
    margin-top: 60px;
    flex-direction: row;
    height: fit-content;
    justify-content: space-around;
    margin-top: 60px;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

#projects .recent div{
    margin-right: 20px;
    margin-left: 20px;
    /*width: 33%;*/
    background-color: white;
    padding-bottom: 15px;
}

#projects .recent div.project-content p {
    margin-bottom: 50px;
}

#projects img {
    width: 100%;
    height: 240px;
}
#projects .project-content a {
    text-decoration: none;
}

/*SECCIÓN CUATRO*/

#clients {
    position: relative;
    height: 622px;
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    background-color: #292e47;
    background-image: url(https://uploads-ssl.webflow.com/61f7ff5634c23c5bef9d2e54/61f800d0da83d2876b6ccdba_Orbit.png);
    background-position: 0px 0px;
    background-size: contain;
    color: #292e47;
    max-width: 1320px;
}
#clients .booking {
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 208px;
    margin: 0 auto;

}
#clients .booking p{
    color: white;
    margin-top: 146px;
    margin-left: -14px;

}
#clients .booking-link {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(https://uploads-ssl.webflow.com/61f7ff5634c23c5bef9d2e54/61f800d1117d92108a29dcdc_Profile.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 140px;
}
#clients img.emoji{
    width: 150px;
    height: 150px;
    position: absolute;
}
#clients .memoji1 img {
    top: 65px;
    left: 130px;
}
#clients .memoji2 img {
    top: 65px;
    right: 128px;
}
#clients .memoji3 img {
    bottom: 50px;
    left: 130px;
}
#clients .memoji4 img {
    bottom: 50px;
    right: 140px;
}


#clients h2{
    color: #ffc600;
    text-align: center;
    padding-top: 110px;
    margin: 0 auto;
    line-height: 38px;
    margin-left: 370px;
    margin-right: 370px;
}

#clients .orbita .img { 
    background-size: cover;
    position: center;   

}

#clients h1 {
    color: white;
    text-align: center;
    padding-top: 95px;
    line-height: 30px;
    font-size: 42px;
    text-transform: capitalize;

}

#clients .memo1 .memo2 .memo3 .memo4 img {
    width: 30px;
}

#clients .booking .client{
    color: #a2d6f903;
    font-size: 17px;
} 

/*SECCIÓN CINCO*/

#services h1 {
    color: #292e47;
    font-size: 40px;
    font-weight:900;
    margin-bottom: 10px;
    margin-left: 17px;
}

#services h2{
    text-align: left;
}


#services {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15rem;
    position: relative;
    margin-bottom: 10em;
    /*border: 3px solid green;*/
    
}

#services h3{
    text-transform: capitalize;
}

#services .services-group {
    text-align: left;
    flex-direction: row;
    height: 20rem;
    justify-content: space-around;
    display: grid;
    margin-top: 70px;
    grid-auto-columns: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    /*border: 3px solid blue;*/
}

#services .services-group div {
    margin-right: 20px;
    margin-left: 20px;
    /*border: 3px solid yellow;*/
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}

#services .services-group div a {
    text-decoration: none;
}

#services img {
    width: 13%;
    height: 100px;
    /*border: 3px solid magenta;*/

    background-color: #ecf7ff;
    border-radius: 90px;
    height: 40px;
    width: 32px;
    padding: 14px;
    margin-top: 20px;

}


/*SECCIÓN SEIS*/


#questions {
    margin: 0 auto;
    position: relative;
    height: 550px;
    max-width: 1320px;
    background-color: #ffc600;
    /*border: 3px solid magenta;*/
}

#questions h1 {
    margin: 0 auto;
    text-align: center;
    font-size: 38px;
    padding-top: 150px;
    /*border: 3px solid black;*/
}

#questions p{
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 50px;
    color: #6b708d;

}

#questions .correo{
    display: flex;
    text-align: center;
    height: 50px;
    width: 50%;
    margin: 0 auto;
    /*border: 3px solid grey;*/
}

#questions .correo input{
    margin: 0 auto;
    background: url(/imagenescircle/mail.svg) no-repeat scroll 7px 7px;
    width: 350px;
    height: 80px;
    margin-bottom: 0px;
    padding-left: 70px;
    background-color: #ecf7ff;
    color: black;
    border: none;
    background-position-x: 30px;
    background-position-y: 24px;
    margin-right: 15px;
    /*border: 1px solid #cccccc;*/
}

#questions .correo button{
  margin: 0 auto;
  color: white;
  height:80px;
  padding: 15px 30px;
  background-color: #072ac8;
  font-size: 17px;
  border: none;
  padding-left: 60px;
  padding-right: 60px;
}


#questions .correo button:hover {
    background-color: #292e47;
    color: white;
}


/*PIE DE PÁGINA*/

footer {
    display: flex;
    margin: 0 auto;
    text-align: center;
    margin-top: 150px;
    max-width: 1100px;
    height: 14rem;
   /* border: 3px solid green;*/
}

footer .logo{
    width: 100px;
    height: 30px;
    background-image: url("https://uploads-ssl.webflow.com/61f7ff5634c23c5bef9d2e54/61f800b7cb56a839fd8ed026_Circle.svg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
  /*  border: 3px solid magenta;*/
}  

footer .left {
    padding-top: 60px;
    padding-right: 10px;

}

footer .left p {
    margin: 0 auto;
    padding-top: 0px;
    text-align: left;
    margin-top: 20px;
   /* border: 3px solid cornflowerblue;*/
    line-height: 22px;
    width: 240px;
}
  
footer .grid-links {
    text-align: center;
    margin: 0 0 0 auto;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 60px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    text-transform: capitalize;
   /* border: 3px solid yellow;*/
    height: 110px;
    margin-top: 65px;
}

footer .grid-links a{
    text-decoration: none;
    color: purple;
}



/*MEDIA QUERIE*/


/*NORMAL PC*/

/*TABLET*/
@media screen and (max-width: 990px) {


    /*EMPOWER*/
    #empower {
        margin: 0 auto;
        text-align: center;
        padding-top: 118px;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        padding-top: 0px;
    }  
    #empower h1 {
        margin-left: 100px;
        margin-right: 100px;
    }
  
    #empower h2 {
        text-align: center;
        margin: 0 auto;
    }
    #empower .left .botones {
        margin: 0 auto;
        margin-top: 50px;
    }

    #empower .aproved {
       position: absolute;
       right: -7px;
       top: 520px;
    }
    #empower .choosecard {
        position: absolute;
        left: 67px;
        top: 0%;
    }
    #empower .randompal {
        margin-top: 60px;
    }
    /*PROJECTS*/ 
    #projects {
        margin-bottom: 5em;
    }
    #projects .recent{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 80px;
    }
    #projects img {
        object-fit: cover;
    }
    #projects .recent div {
        margin-bottom: 20px;
    }
    /*CLIENTS*/
    #clients{
        margin-top: 0px;
        height: 580px;
    }
    #clients .memoji1 img {
        left: 70px
    }
    #clients .memoji2 img {
        right: 70px
    }
    #clients .memoji3 img {
        left: 70px
    }
    #clients .memoji4 img {
        right: 70px
    }
    #clients h1 {
        margin-left: 170px;
        margin-right: 170px;
        font-size: 37px;
        line-height: 60px;
        padding-top: 80px;
    }
    #clients h2 {
        padding-top: 60px;
        margin-left: 90px;
        margin-right: 90px;
    }
    #clients .booking-link {
        margin-top: 93px;
    }
    #clients .booking p {
        margin-top: 100px
    }
    /*SERVICES*/
    #services {
        margin-top: 3rem;
        margin-bottom: 4em;
    }
    /*QUESTIONS*/
    #questions .correo{
        display: flex;
        width: 70%;
    }

/*HAMBURGUESA*/
    .navegador {
        display:block;    
    }
    .ul{
        position: fixed;
        left: 100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color:magenta;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .li {
        margin: 16px 0;        
    }
    .ul .active{
        left: 0;
    }
    header .btn-contact {
        display: none;
    }

    /**/
      header {
        display: none;
      }
      .topnav .logo {
        width: 60px;
        height: 18px;
        background-image: url("https://uploads-ssl.webflow.com/61f7ff5634c23c5bef9d2e54/61f800b7cb56a839fd8ed026_Circle.svg");
        background-position: 50% 50%;
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        margin-left: 20px;
      }
      .topnav {
        display: block;
        overflow: hidden;
        background-color: #f2f4fc;
        position: relative;
        min-height: 50px;
      }
      
      .topnav #myLinks {
        display: none;
      }
      
      .topnav a {
        color: black;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      
      .topnav a.icon {
        background: #f2f4fc;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      .topnav a:hover {
        color: black;
      }
      
      .active {
        color: black;
      }


/*SECCIÓN DOS*/

    #company-list {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 60px;
    }
    #company-list img:last-child {
        display: none;
    }
    #clients img.emoji{
        width: 100px;
        height: 100px;
        position: absolute;
    }


}

 /*TEL*/

@media screen and (max-width: 768px) {
    #projects .recent{
        grid-template-columns: 1fr;
    }
    #clients img.emoji{
        display:none;
    }
    #services .services-group {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    /*EMPOWER*/
    #empower {
        padding-top: 20px;
    }
    #empower .randompal {
        width: 90%;
    }
    #empower .choosecard,
    #empower .aproved {
        display: none;
    }
    #empower h1 {
        font-size: 38px;
        line-height: 47px;
    }
    #empower .left .botones {
        display: block;
    }
    /*COMPANY LIST*/
    #company-list {
        margin-top: 90px;
    }
    /*PROJECTS*/
    #projects {
        margin-bottom: 6em;
    }
    #projects h2 {
        font-size: 28px;
        text-align: center;
        margin: 0;
        margin-bottom: 25px;
    }
    #projects img {
        object-fit: cover;
    }
    /*CLIENTS*/
    #clients {
        margin-top: 0px;
    }
    #clients h1 {
        font-size: 32px;
        margin-left: 30px;
        margin-right: 30px;
        line-height: 45px;
    }
    #clients {
        height: 530px;
    }
    #clients h2 {
        margin: 0;
        margin-left: 50px;
        margin-right: 50px;
        padding-top: 60px;
    }
    #clients .booking-link {
        margin-top: 60px;
    }
    #clients .booking p {
        margin-top: 66px;
    }

    /* SERVICES */
    #services {
        margin-top: 3rem;
        margin-bottom: 35em;
    }
    #services h1 {
        text-align: center;
    }
    #services .services-group {
        margin-top: 25px;
    }

    #services .services-group div {
        padding-bottom: 30px;
    }
    #services .services-group div p {
        padding-right: 70px;
    }
    /*QUESTIONS*/
    #questions {
        height: 500px;
    }
    #questions h1 {
        font-size: 30px;
        padding-top: 90px;
    }
    #questions .correo {
        width: 75%;
        display: block;
    }
    #questions .correo #email {
        margin: 0;
        width: 230px;
        padding: 0;
        padding-left: 70px;
    }
    #questions .correo button {
        width: 301px;
        margin-top: 15px;
    }
    /*FOOTER*/
    footer {
        display: block;
        margin-top: 20px;
    }
    footer .left {
        display: block;
        width: 100%;
    }
    footer .right {
        display: block;
        width: 100%;
    }
    footer .logo {
        margin: 0 auto;
        margin-bottom: 40px;
    }
    footer .left p {
        text-align: center;
    }
    footer .right {
        width: 395px;
        padding: 0;
        margin: 0 auto;
        margin-top: 30px;
        text-align: left;
    }
    footer .grid-links a{
        width: 390px;
        padding: 0;
        margin: 0 auto;
        margin-top: 30px;
        text-align: left;
        margin-left: 8%;
        margin-right: 8%;
    }
 }